# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python
*.pyc
*~
__pycache__
python/scrap_instagram/__pycache__/
python/scrap_instagram/env/
python/scrap_instagram/unifafire/
python/scrap_instagram/dados_instagram.xlsx
python/scrap_instagram/instagram_unifafire_original.xlsx

# html
*.html
scripts/rmarkdown/escolas_integrais.html
scripts/rmarkdown/escolas_integrais_novo.html
scripts/rmarkdown/facebook.html
scripts/rmarkdown/kmeans_iris.html

# Env
.env
myvenv/
venv/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Extras
documentos/
tabelaBrasileirao.csv
data_integrity.R
unifafire/
dados_instagram.csv
instagram_unifafire_original.csv
extras/
bases_originais/largeData.csv